@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td
{-webkit-box-sizing: border-box                                 ;-moz-box-sizing: border-box;box-sizing: border-box;
    margin: 0;padding: 0;-o-box-sizing: border-box;
}table
{border-spacing: 0;
    border-collapse: collapse;
}fieldset,
img
{
    border: 0;
}address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var
{font-weight: normal;
    font-style: normal;
}ol,
ul
{
    list-style: none;
}caption,
th
{
    text-align: left;
}h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;font-weight: normal;
}q:before,
q:after
{
    content: '';
}abbr,
acronym
{font-variant: normal;

    border: 0;
}sup
{
    vertical-align: text-top;
}sub
{
    vertical-align: text-bottom;
}input,
textarea,
select
{
    font-family: inherit;font-size: inherit;font-weight: inherit;
}input,
textarea,
select
{
    *font-size: 100%;
}legend
{
    color: #000;
}@font-face
{
    font-family: 'icomoon';font-weight: normal;font-style: normal;src: url('/assets/fonts/icomoon.eot');src: url('/assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/icomoon.woff') format('woff'),url('/assets/fonts/icomoon.ttf') format('truetype'),url('/assets/fonts/icomoon.svg#icomoon') format('svg');
}[data-icon]:before
{
    font-family: 'icomoon';font-weight: normal;font-variant: normal;line-height: 1;content: attr(data-icon);text-transform: none;speak: none;-webkit-font-smoothing: antialiased;
}body
{
    font-family: 'Ubuntu', sans-serif;font-size: 100%;background-color: #f8f8f8;text-shadow: #fff 0 1px 0;
}.wrap
{
    max-width: 900px;margin: auto;padding: 0 20px;
}.inner-wrap
{
    max-width: 800px;margin: auto;padding: 0 20px;
}p
{
    line-height: 2em;margin: 0 0 20px;
}strong
{
    font-weight: 600;
}em
{
    font-style: italic;
}a
{text-decoration: none;

    color: #4775b7;
}a:hover
{
    text-decoration: underline;
}.txt-ctr
{
    text-align: center;
}h1,
.h1
{
    font-size: 2em;font-weight: 700;margin: .67em 0;
}h2,
.h2
{
    font-size: 1.5em;font-weight: 600;margin: .83em 0;
}h3,
.h3
{
    font-size: 1.17em;font-weight: 500;margin: 1em 0;
}h4,
.h4
{
    font-size: 1em;margin: 1.33em 0;
}h5,
.h5
{
    font-size: .83em;margin: 1.67em 0;
}h6,
.h6
{
    font-size: .67em;margin: 2.33em 0;
}.left
{
    float: left;
}.right
{
    float: right;
}.clear
{
    clear: both;
}.nav li
{
    display: inline-block;margin-left: -.32em;
}.nav li:first-child
{
    margin-left: 0;
}.nav li a
{
    display: block;
}@media screen and (max-width: 550px)
{
    p
    {
        line-height: 1.6em;
    }
}.highlight
{font-size: 13px;position: relative;overflow: auto;padding: 15px;color: #f0ebd5;border-radius: .25em;
    background: #181818;text-shadow: none;
}.highlight *
{
    font-family: Consolas, Monaco,'Lucida Console';
}.highlight a:hover
{
    border: 0;
}.highlight pre
{font-size: 14px;line-height: 18px;overflow: auto;overflow-x: auto;margin-bottom: 30px;padding: 20px;

    counter-reset: line-numbering;white-space: pre;word-wrap: inherit;word-break: inherit;border-radius: 0;border-radius: 5px;background: #222;text-shadow: none;
}.highlight pre a::before
{font-size: 13px;display: inline-block;width: 25px;margin-right: 16px;padding: 2px 10px;padding-right: 1em;

    content: counter(line-numbering);counter-increment: line-numbering;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;text-align: right;opacity: .7;color: #aaa;background: #222;-webkit-touch-callout: none;-khtml-user-select: none;
}.highlight pre a:first-of-type::before
{
    padding-top: 10px;border-top-left-radius: .25em;
}.highlight pre a:last-of-type::before
{
    padding-bottom: 10px;border-bottom-left-radius: .25em;
}.highlight pre a:only-of-type::before
{
    padding: 10px;
}.highlight .hll
{
    background-color: #ffc;
}.highlight .c
{font-style: italic;

    color: #5f5a60;
}.highlight .err
{
    border: #b22518;
}.highlight .k
{
    color: #cda869;
}.highlight .cm
{font-style: italic;

    color: #5f5a60;
}.highlight .cp
{
    color: #5f5a60;
}.highlight .c1
{font-style: italic;

    color: #5f5a60;
}.highlight .cs
{font-style: italic;

    color: #5f5a60;
}.highlight .gd
{
    background: #420e09;
}.highlight .ge
{
    font-style: italic;
}.highlight .gr
{
    background: #b22518;
}.highlight .gh
{font-weight: bold;

    color: #000080;
}.highlight .gi
{
    background: #253b22;
}.highlight .gp
{
    font-weight: bold;
}.highlight .gs
{
    font-weight: bold;
}.highlight .gu
{font-weight: bold;

    color: #800080;
}.highlight .kd
{
    color: #e9df8f;
}.highlight .kp
{
    color: #9b703f;
}.highlight .na
{
    color: #f9ee98;
}.highlight .nb
{
    color: #cda869;
}.highlight .nc
{font-weight: bold;

    color: #9b859d;
}.highlight .no
{
    color: #9b859d;
}.highlight .nd
{
    color: #7587a6;
}.highlight .ni
{font-weight: bold;

    color: #cf6a4c;
}.highlight .nf
{font-weight: bold;

    color: #9b703f;
}.highlight .nn
{font-weight: bold;

    color: #9b859d;
}.highlight .nt
{font-weight: bold;

    color: #cda869;
}.highlight .nv
{
    color: #7587a6;
}.highlight .ow
{font-weight: bold;

    color: #a2f;
}.highlight .w
{
    color: #141414;
}.highlight .mf
{
    color: #cf6a4c;
}.highlight .mh
{
    color: #cf6a4c;
}.highlight .mi
{
    color: #cf6a4c;
}.highlight .mo
{
    color: #cf6a4c;
}.highlight .sb
{
    color: #8f9d6a;
}.highlight .sc
{
    color: #8f9d6a;
}.highlight .sd
{font-style: italic;

    color: #8f9d6a;
}.highlight .s2
{
    color: #8f9d6a;
}.highlight .se
{font-weight: bold;

    color: #f9ee98;
}.highlight .sh
{
    color: #8f9d6a;
}.highlight .si
{font-weight: bold;

    color: #daefa3;
}.highlight .sx
{
    color: #8f9d6a;
}.highlight .sr
{
    color: #e9c062;
}.highlight .s1
{
    color: #8f9d6a;
}.highlight .ss
{
    color: #cf6a4c;
}.highlight .bp
{
    color: #0aa;
}.highlight .vc
{
    color: #7587a6;
}.highlight .vg
{
    color: #7587a6;
}.highlight .vi
{
    color: #7587a6;
}.highlight .il
{
    color: #099;
}.code-select
{position: absolute;right: 0;
    bottom: 0;
}.header
{
    width: 100%;padding-bottom: 20px;text-align: center;background-color: #222933;background-image: url(/assets/img/header-bg.jpg);background-repeat: no-repeat;background-position: top center;background-size: 100%;
}@media screen and (max-width: 1500px)
{
    .header
    {
        background-size: auto;
    }
}
.head-text
{font-size: 2em;min-height: 215px;
    padding: 80px 0 0 0;text-align: center;color: #fff;text-shadow: #000 0 2px 4px;
}.tagline
{font-size: 2em;font-weight: 600;

    margin: 20px 0 0;-webkit-transition: all .7s ease-in-out;-moz-transition: all .7s ease-in-out;-ms-transition: all .7s ease-in-out;-o-transition: all .7s ease-in-out;transition: all .7s ease-in-out;
}.sub-tagline
{font-size: 1em;

    margin: 0;-webkit-transition: all .7s ease-in-out;-moz-transition: all .7s ease-in-out;-ms-transition: all .7s ease-in-out;-o-transition: all .7s ease-in-out;transition: all .7s ease-in-out;opacity: 0;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';filter: alpha(opacity=0);
}.lift-text .tagline
{
    margin: 0;
}.lift-text .sub-tagline
{
    opacity: 1;
}.badge
{position: relative;z-index: 9999;

    display: block;overflow: hidden;width: 100px;height: 100px;margin: -40px auto 20px;padding: 0;border: #3a4450 4px solid;border-radius: 100%;box-shadow: rgba(0,0,0,.3) 0 0 4px;
}.badge img
{
    display: block;overflow: hidden;margin: auto;border: 0;border-radius: 100%;
}.module-badge
{
    margin: auto;
}.typed-cursor
{
    font-weight: 100;padding: 0 2px;-webkit-animation: blink 1s infinite;-moz-animation: blink 1s infinite;-ms-animation: blink 1s infinite;-o-animation: blink 1s infinite;animation: blink 1s infinite;
}@media screen and (max-width: 800px)
{
    .head-text
    {font-size: 1.75em;min-height: 180px;
        padding: 50px 0 0;
    }
}@media screen and (max-width: 600px)
{
    .head-text
    {font-size: 1.5em;min-height: 150px;
        padding: 30px 0 0;
    }
}@media screen and (max-width: 550px)
{
    .head-text
    {font-size: 1em;min-height: 110px;margin: 0 -100px;
        padding: 20px 0 0;
    }
}@-webkit-keyframes blink
{
    0%
    {
        opacity: 1;
    }50%
    {
        opacity: 0;
    }100%
    {
        opacity: 1;
    }
}@-moz-keyframes blink
{
    0%
    {
        opacity: 1;
    }50%
    {
        opacity: 0;
    }100%
    {
        opacity: 1;
    }
}@-ms-keyframes blink
{
    0%
    {
        opacity: 1;
    }50%
    {
        opacity: 0;
    }100%
    {
        opacity: 1;
    }
}@-o-keyframes blink
{
    0%
    {
        opacity: 1;
    }50%
    {
        opacity: 0;
    }100%
    {
        opacity: 1;
    }
}@keyframes blink
{
    0%
    {
        opacity: 1;
    }50%
    {
        opacity: 0;
    }100%
    {
        opacity: 1;
    }
}.nav
{margin: 40px auto;

    list-style: none;text-align: center;
}.nav li
{
    display: inline-block;margin: 10px 15px;
}.nav .label
{
    padding: 0 0 0 5px;
}.main-nav
{display: block;margin: 0;

    list-style: none;text-align: center;
}.main-nav li
{
    display: inline-block;margin: 5px 15px;vertical-align: top;
}.main-nav a
{font-size: 2.25em;

    display: block;width: 95px;padding: 15px 0;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-ms-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;text-decoration: none;color: #fff;border-radius: 3px;text-shadow: none;
}.main-nav a:hover
{
    color: #333;background: #fff;
}.main-nav .label
{font-size: .5em;

    display: block;clear: both;
}.divider
{
    display: block;width: 50%;height: 1px;margin: 5px auto;border-top: rgba(0,0,0,.1) 1px solid;border-bottom: rgba(255,255,255,.2) 1px solid;
}.sub-nav
{font-size: .6em;

    margin: 0 0 30px;
}.sub-nav a
{
    width: 60px;padding: 10px 0;
}.inline-nav
{
    display: inline-block;vertical-align: top;
}@media screen and (max-width: 800px)
{
    .main-nav
    {
        font-size: .8em;
    }.main-nav a
    {
        width: 80px;
    }.sub-nav
    {
        font-size: .6em;
    }.sub-nav a
    {
        width: 60px;
    }
}@media screen and (max-width: 650px)
{
    .divider
    {
        width: 60%;
    }.main-nav li
    {
        margin: 5px 10px;
    }
}@media screen and (max-width: 550px)
{
    .divider
    {
        width: 50%;
    }.main-nav
    {
        font-size: .6em;
    }.main-nav li
    {
        margin: 5px 5px;
    }.main-nav a
    {
        width: 70px;
    }.sub-nav
    {
        font-size: .5em;
    }.sub-nav a
    {
        width: 50px;
    }
}.page-title
{font-size: 2em;font-weight: 600;

    margin: 0 0 10px;padding: 15px 0;color: #333;border-top: #eee 2px solid;border-bottom: #eee 2px solid;
}.block
{
    display: block;margin: 10px auto;padding: 0;text-align: center;
}.block .media,
.block .media-desc
{
    vertical-align: middle;
}.block .media
{
    display: inline-block;
}.block .media-desc
{
    display: inline-block;max-width: 500px;margin: 0 0 0 20px;padding: 10px;text-align: left;
}.block .media-desc h3
{
    margin: 10px 0;
}.latest
{
    display: block;margin: 0 auto 30px;
}.latest li
{
    padding-left: 20px;border-left: #9fabb9 2px solid;
}.latest a
{
    font-size: 1.5em;font-weight: 600;
}.body-notice
{max-width: 900px;
    margin: 0 auto;padding: 20px;text-align: left;border-radius: 4px;background: #fff;box-shadow: rgba(0,0,0,.2) 0 1px 4px;
}@media screen and (max-width: 550px)
{
    .page-title
    {font-size: 1.5em;

        margin: 0 0 5px;padding: 10px 0;
    }
}.entry
{
    margin: auto;padding: 1.5em 0 1.5em;border-top: #eee 2px solid;
}.entry .h2
{
    margin: 0 0 20px;
}.entry p
{
    color: #444;
}.entry img
{
    max-width: 100%;
}.entry:first-of-type
{
    border-top: none;
}.entry-info
{font-size: .8em;line-height: 1.7em;

    display: block;margin: 10px 0;color: #444;
}.entry-cont
{
    float: right;clear: left;
}.entry-links
{
    margin: 0 auto 35px;text-align: center;
}.entry-links a
{font-size: .85em;

    margin: 0 5px;padding: 10px 20px;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-ms-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;color: #fff;border-radius: 20px;background: #222;
}.entry-links a:hover
{
    color: #333;background: #fff;
}.post .h2,
.post h2,
.post .h3,
.post h3
{font-weight: 600;

    padding: .5em 0;border-top: #eee 1px solid;border-bottom: #eee 1px solid;
}.post p
{font-size: 1.10em;

    margin: 0 auto 2em;
}.post img
{
    display: block;width: 90%;margin: 0 auto 3em;
}.post ul
{font-size: .95em;

    margin: 10px auto 3em;color: #444;
}.post ul li
{
    margin: 10px 10px;padding-left: 10px;border-left: #eee 2px solid;
}.post code.highlighter-rouge,
.post .inline-code
{font-size: .85em;padding: 5px 10px;color: #f0ebd5;border-radius: 5px;
    background: #222;text-shadow: none;
}.share-button
{
    display: inline-block;float: right;margin: 0 5px 10px;
}@media screen and (max-width: 550px)
{
    .entry
    {
        margin: auto;padding: 1em 0 1em;border-top: #eee 2px solid;
    }.entry .h2
    {
        font-size: 1.35em;margin: 0 0 10px;
    }
}.module
{position: absolute;z-index: 9999999;top: 0;bottom: 0;left: 0;

    display: block;overflow: hidden;width: 400px;height: 100%;margin: 0;padding: 0;color: #fff;background: #222933;background-image: url(/assets/img/header-bg.jpg);background-position: top center;background-size: auto 100%;text-shadow: none;
}.module-head
{width: 100%;
    margin: 0 auto;padding: 20% 0 0;text-align: center;background-repeat: no-repeat;background-position: top center;background-size: auto 100%;
}.module-head .badge
{
    width: 150px;height: 150px;margin: 0 auto 50px;border-color: #222933;box-shadow: #000 0 2px 10px;
}.module-head a
{
    color: #fff;
}.module-head a:hover
{
    color: #333;
}.module-body
{
    position: absolute;top: 0;right: 0;bottom: 0;left: 415px;overflow: auto;padding: 20px 30px 0 10px;text-align: center;
}.module-inner-wrap
{max-width: 700px;
    margin: auto;text-align: left;
}.module-body-list
{
    display: block;margin: 0 auto 1em;
}.module-body-list li
{
    padding: 0 0 1em 0;border-bottom: #eee 2px solid;
}aside
{
    display: inline-block;vertical-align: top;
}.sidebar
{
    margin: 20px 0;padding: 0 50px;text-align: left;
}.top-list
{
    display: inline-block;margin: 0 20px 0 0;
}.top-list .label
{font-weight: 500;

    margin: 0 10px 0 0;
}.top-list li
{
    display: inline-block;margin: 0 0 25px 0;
}.top-list li a
{
    font-size: .8em;margin: 0 .5em 0 0;padding: .5em 1em .5em 0;border-right: #eee 2px solid;
}.ex-dm-title
{font-size: 2.5em;

    text-align: center;
}.ex-dm-link
{
    display: inline-block;text-align: center;
}.ex-dm-link a
{
    padding: 10px 20px;color: #fff;border-radius: 20px;background: #333;text-shadow: none;
}.ex-dm-link a:hover
{
    color: #333;background: #fff;
}.target-toggle
{font-size: .8em;

    position: absolute;bottom: 20px;left: 10px;display: block;overflow: hidden;width: 40px;height: 35px;padding: 5px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;text-align: left;opacity: .4;border-radius: 5px;background: #000;
}.target-toggle:hover
{
    width: 220px;opacity: .6;box-shadow: rgba(0,0,0,.6) 0 0 4px;
}.target-toggle:hover span
{
    opacity: 1;
}.target-toggle span
{font-size: .85em;line-height: 3em;

    position: absolute;display: inline-block;margin: -3px 10px;padding: 0;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;opacity: 0;
}.target-toggle input
{
    display: inline-block;width: 30px;padding: 5px;cursor: pointer;text-align: left;color: #999;border: none;background: none;
}.demo-block
{
    display: inline-block;width: 500px;margin: 0 5px 20px 0;padding: 0 0 20px 0;vertical-align: top;color: #fff;border-bottom: #eee 3px solid;text-shadow: rgba(0,0,0,.6) 0 -1px 0;
}.demo-title
{
    height: 90px;padding: 10px 10px 5px;background: #222933;
}.demo-title a
{font-size: 2em;

    color: #fff;
}.demo-title p
{font-size: .9em;line-height: 1.2em;

    margin: 5px 0;
}.demo-frame-wrap
{
    position: relative;overflow: hidden;width: 100%;height: 200px;background-color: #f0f0f0;
}.demo-frame
{zoom: .5;

    width: 200%;height: 200%;-webkit-transform: scale(.5);-moz-transform: scale(.5);-o-transform: scale(.5);-webkit-transform-origin: 0 0;-moz-transform-origin: 0 0;-o-transform-origin: 0 0;
}@media screen and (max-width: 800px)
{
    .demo-block
    {
        display: block;width: 100%;
    }
}@media screen and (max-width: 1200px)
{
    .module
    {
        width: 300px;
    }.module .main-nav
    {
        font-size: .8em;
    }.module .main-nav a
    {
        width: 80px;
    }.module .sub-nav
    {
        font-size: .6em;
    }.module .sub-nav a
    {
        width: 60px;
    }.module-body
    {
        left: 315px;
    }
}@media screen and (max-width: 800px)
{
    .module
    {
        position: relative;width: 100%;max-width: none;height: auto;background-size: auto auto;
    }.module-head
    {min-height: auto;
        padding: 20px 0;
    }.module-head .badge
    {
        width: 100px;height: 100px;margin: 10px auto 20px;
    }.module-body
    {
        position: relative;left: 0;overflow: hidden;padding: 0 10px;
    }
}.footer
{
    margin: 0 auto 50px;
}.dark-bg
{
    color: #fff;text-shadow: #000 0 1px 1px;
}.dark-bg a
{
    color: #b0bccd;
}.dark-bg a:hover
{
    color: #fff;
}.foot-avatar
{overflow: hidden;

    width: 150px;height: 150px;border-radius: 5px;
}.foot-avatar img
{overflow: hidden;border: 0;
    border-radius: 5px;
}.about
{
    width: 100%;margin: 40px auto 0;padding: 20px 0 40px;background-color: #222933;background-image: url(../assets/img/footer-bg.jpg);background-repeat: no-repeat;background-position: center bottom;
}@media (min-width: 1400px)
{
    .about
    {
        background-size: 100%;
    }
}
.copyright
{
    font-size: .85em;text-align: center;color: #666;
}
